*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
*.iml
*.hprof
.idea/
*.orig
class_files.txt
seeds.txt
*/reports/
local.properties
manifest-merger-*-report.txt
changelog.txt
*.out
*.log
captures/
*.patch
/dependencies.versions___jb_old___
dhs-memberapp-android-resources.zip
**/META-INF/deeplinks.txt
temp/
Footer